<div class="rcard" id="striped" class="rcard">
  <div class="rincard">
    <header class="rcard-header">
      <div class="rvisiable">
        <p class="rtitle">
          {% if habit.is_positive %} ✅ {% else %} ❎ {% endif %}
          {{ habit.title }}
        </p>
        <label class="rnumber">
          <input type="number" class="rquantity" name="quantity" min="0" placeholder="0">  
        </label>
      </div>

      <div style="display: block;">
        <textarea class="rtextarea" placeholder="Highlights" disabled></textarea>
      </div>
    </header>
  </div>
</div>   
