<div class="rcard rstriped" id="{{ 'striped' + habit.id|string }}">
  <div class="rincard">
    <header class="rcard-header">
      <div class="rvisiable">
        <p class="rtitle">
          {% if habit.is_positive %} ✅ {% else %} ❎ {% endif %}
          {{ habit.title }}
        </p>
        <label class="rcheckbox">
          <form method="POST">
            <input type="checkbox"
                   class="rtickbox"
                   hx-post="{{ url_for('routes.check_todo', id=habit.id) }}"
                   hx-target="{{ '#striped' + habit.id|string }}"
                   hx-swap="outerHTML"
                   {% if habit.value %} checked {% endif %}>
          </form>
        </label>
      </div>
      <div style="display: block;">
        {% if habit.value %}
          <textarea class="rtextarea" placeholder="Highlights"></textarea>
        {% else %}
          <textarea class="rtextarea" placeholder="Highlights" disabled></textarea>
        {% endif %}
      </div>
    </header>
  </div>
</div>
