body
{
    margin: 0px;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 8px;
}
.rcard
{
    border: 1rem;
    margin: 2rem;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    background-color: white;
    width: 101rem;   
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
}
.rtickbox
{
    height: 3rem;
    width: 3rem;
    margin: 1.5rem;
}
.rtitle
{
    font-size: larger;
}
.rincard
{
    margin: 10px;
}
.ricon{
    text-align: justify;
    display: flex;
}
.rtextarea
{
    align-items: center;
    width: 85%;
    resize: none;
}
.rvisiable
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}
.rquantity
{
    height: 3rem;
    width: 3rem; 
    margin: 1.5rem;
    font-size: 2rem;
}
.rstriped 
{
    position: relative;
    width: auto;  
    background: linear-gradient(to left, #ffffff 0%, #ffffff 2%, #51e69e 2%, #51e69e 12%, #ffffff 12%)
    
}
.rcard:hover 
{
    transform: scale(1.05); 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1); 
}

.rnavbar
{
    background-color: aliceblue;
    height: 3rem;
    margin: 0px;
}
.rmain_cards
{
    width: 100%;
    height: 100%;
    border: black;
    border-radius: 5px;
    border-style: solid;
    margin: 0px;
    overflow-y: scroll;
}
.rpart
{
    background-color: #ffffff;
    width: 50rem;
    display: flex;
    position: fixed;
    bottom: 1rem;
    height: 55rem;
    left: 50rem;
}
#webpage
{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    float: left;
    margin: 0px;
}
#coin
{
    margin: 0px;
    text-align: right;
    font-size: larger;
    font-size: 30px;
    padding-top: 5px;
    padding-right: 10px;
    font-weight: bold;
    float: right;
}
#any
{
    margin: 0px;
    text-align: center;
    font-size: larger;
    font-size: 30px;
    padding-right: 10px;
    font-weight: bold; 
}
.rcontainer 
{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 25rem;
}

#heading
{
    text-align: center;
    color: #333;
    width: auto;
    font-size: 3rem;
}

#addingnewtask{
    margin-top: 20px;
    width: auto;
}
#title{
    width:auto;
}

label 
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: auto;
}


#dropdown{
    width: auto;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addtask {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

#addtask:hover {
    background-color: #45a049;
}

.rcontainer2
{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 25rem;
    position: absolute;
    left: 2rem;
    top: 4.2rem;
}

#heading1
{
    text-align: center;
    color: #333;
    width: auto;
    font-size: 3rem;
    margin: 0px;
}

#addingnewtask1
{
    margin-top: 20px;
    width: auto;
}
#title1
{
    width:15rem;
    height: 2rem;
}
label 
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: auto;
}
#dropdown1
{
    width:15rem;
    height: 3rem;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#addtask1
{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}
#addtask1:hover 
{
    background-color: #45a049;
}

.rclock
{
    padding: 20px;
    width: 45rem;
    height: 20.5rem;
    background-color: rgb(0, 140, 165);
    position: fixed;
    left: 2rem;
    top: 35rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 5px;
}
.rtimer
{
    height: 30vh;
    width: 40vw;
    padding: 1%;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content:left;
    text-align: right;
}
.rwrapper 
{
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    width: 60%;
    height: 100%; 
}
#middle-circle 
{
    font-size: 5rem;
    font-weight: bold;
    color:#FFFFFF ;
    position: fixed;
    left: 3rem;
    top: 7rem;
}
h1{
    font-family: 'Jersey 20';
    color: rgba(0, 0, 0, 0.98);
    text-transform: uppercase;
    font-size: 6rem;
    margin: auto;
}
.rtitle-wrapper
{
    margin: 10px
    
}
  
.rbutton-wrapper
{
    overflow:hidden;
    margin-bottom: 2px;
    position:fixed;
    top: 2rem;
    left: 17.5rem;
}
  
.btn 
{
    border: none;
    padding: 10px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
}
  
.btn + .btn 
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}
  
.outline 
{
    background: transparent;
    color: rgba(81, 230, 158, 0.9);
    border: 1px solid #115233f2;
    transition: all .3s ease;
    
}
  
.outline:hover
{
    transform: scale(1.125);
    color: rgba(50, 11, 106, 0.9);
    border-color: rgba(90, 71, 117, 0.9);
    transition: all .3s ease;  
}
  
.fill 
{
    background: rgba(81, 230, 158, 0.9);
    color: #115233f2;
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease; 
}
  
.fill:hover
{
    transform: scale(1.125);  
    background: rgba(50, 11, 106, 0.9);
    border-color: rgba(90, 71, 117, 0.9) ;
    filter: drop-shadow(0 10px 5px rgba(85, 71, 104, 0.125));
    transition: all .3s ease;    
}
